{% extends 'base.html' %}

{% block main_content %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      
      <div class="row">
        <div class="col-12">
        <form action="" id="image_form" name="image_form"  method="POST" enctype="multipart/form-data"  role="form">
         {% csrf_token %}
         <input type="text" class="form-control col-md-12" name="title" placeholder="Title" id="title" required />
         <br>
          <label for="description"><textarea rows="15" cols="180" class="form-control" name="description" id="description" placeholder="Description" required></textarea>
          </label>
          <br>
          </div>
          </div>
          <div class='row'>
          <div class='col-md-4'>
            <div class="file">
              <label for="image"><i class='fa fa-upload'></i>  Select a file </label>
              <input type="file" name="image" id="image" multiple>
            </div>
             
          </div>
          <div class='col-md-2'>
            <div class="progress ">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
      0%
    </div>
        </div>
          </div>
          </div>
          <button type="Submit" value="Save" class="btn btn-primary">Save</button>
             
      </form>
      
      
      
      </div>
    </div>
</div>

{% endblock %}