<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Dear Diary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{% static 'css/custom_css.css' %}" rel="stylesheet">
</head>
<body class='background'>
    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dear Diary</a>
    </div>
    <ul class="nav navbar-nav navbar-right navbar">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

    
<div class="container-fluid">
    
<div class='row'>

  <section class='head'>
      
  <h1 class='bg-text'>Dear Diary</h1>
  <p class='md-text'>A secret friend, who is more than a Friend!</p> 
  <p>The .container class provides a responsive fixed width container.</p> 
  <a href='/' class='btn btn-warning big-btn'>Get Started</a>
  
  
  </section>
  </div>
  
      
<div class='row'>

  <section class='section2'>
    
  <p class=''>
    Everyone has a public life, but Dear Diary is made kept in mind your private life. 
    Share all the thoughts you wouldn't share with your friends, family or anyone!
    
    </p>
   <p class=''>
    There are a lot of things you can't say to people so just lighten your heart through Dear Diary.
    Write your thoughts down, use it to take notes, or just write Journals on the go without thinking carrying a physical diary.
    
    
    </p>
    <p>
      You can even upload Images to cherish your day and come back and see your thoughts after some time.
    </p>
  
  
  </section>
  </div>
  
  
</div>


<!-- Footer -->
<footer class="footer">
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p> 
</footer>


</body>
</html>
