   {% extends 'base.html' %}

{% block main_content %}

<div class="content-wrapper">
    <div class="container-fluid">
        {% if dogs %}
    {% for dog in dogs %}
    </div>
    <div class="strip">
        <div class="row">
           
        <div class='col-md-8'>
         <h6><a href="/final/{{ dog.id }}" class="nav-link js-create-book" data-toggle="modal" data-target="#exampleModal">{{ dog.title|title }}</a></h6>
         </div>
          <div class='col-md-4'>
         <a  href="/delete/{{ dog.id }}" class='demo'><i class="fa fa-close pull-right"></i></a>
        <a  href="/edit/{{ dog.id }}" class='' ><i class="fa fa-pencil pull-right"></i></a>
        </div>
        </div>
        <div class='row'>
         <div class="col-md-10">
             <div class="descrip">
         <p><small>{{ dog.description|truncatechars:250 }}</small>
        </p>

</div><!-- descrip ends-->
<p><small><strong>{{ dog.created_at }}</strong></small></p>
<!-- <p><small><strong>{{ dog.updated_at }}</strong></small></p> -->
</div><!-- col-md-9 ends-->

<div class="col-md-2 center">
    {% if dog.image %}
               <a href='#'><img src='/media/{{ dog.image }}' class="img img-responsive image " width='100'/> </a><br>
                 <div class="middle">
    <div class="text"><a href="/delete-image/{{ dog.id }}" class='demo'><i class='fa fa-close'></i></a></div>
  </div>
  
 {% else %}
<h3 class='error'>No Entry yet!!Please add entry.</h3>
              {% endif %}
</div>


      <div class='img-modal'>
       <a class='image' href='#'>
       <div class='title'>
       <i class='fa fa-close'></i>
     </div></a>
            <img src='' class="img img-responsive change"/> 
                <a href="/delete-image/{{ dog.id }}" class='demo'>Delete</a><br/>     
</div>
 
     </div><!-- strip ends-->
 {% endfor %}
 
 {% else %}
<h3 class='error'>No Entry yet!!Please add entry.</h3>

{% endif %}
</div>
 {% endblock %}