   {% extends 'base.html' %}

{% block main_content %}

<div class="content-wrapper">
    <div class="container-fluid">
        {% if posts %}
        <form name='multi_delete' action ='' id='multi_delete' value='multi_delete' method='post'>
                {% csrf_token %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="form-check-input deleteBtn demo"  value="Delete"  ><br><br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="form-check-input"  name='checkAll' id='checkAll' value="{{ post.id }}">
    {% for post in posts %}
    </div>
     

    <div class="strip">
        <div class="row">
           
        <div class='col-md-8'>
            
            
            <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input checkbox"  name='checkbox'  value="{{ post.id }}">
        
      </label>
    </div>
    
   
    
    
         <h6><a href="/final/{{ post.id }}" class="nav-link js-create-book" data-toggle="modal" data-target="#exampleModal">{{ post.title|title }}</a></h6>
         </div>
          <div class='col-md-4'>
         <a  href="/delete/{{ post.id }}" class='demo'><i class="fa fa-close pull-right"></i></a>
        <a  href="/edit/{{ post.id }}" class='' ><i class="fa fa-pencil pull-right"></i></a>
        </div>
        </div>
        <div class='row'>
         <div class="col-md-6">
             <div class="descrip">
         <p>{{ post.description|truncatechars:250 }}
        </p>
      
</div><!-- descrip ends-->
<p><small><strong>Created  :   {{ post.created_at }} &nbsp; &nbsp; Today  :   {{ today }}</strong></small></p>
<!-- <p><small><strong>{{ dog.updated_at }}</strong></small></p> -->
</div><!-- col-md-9 ends-->

<div class="col-md-6 center inline">
    <h1 class='btn btn-primary images'>Images</h1>
    {% if post.post_image_set.all %}
   {% for image in post.post_image_set.all %}<!--first post is for the "for loop" second post for the post field in model and all is for all images I guess.-->

   <div class='col-md-4 pull-right '><a href='#'><img src='{{ image.image.url }}' class="img img-responsive image " width='100'/> </a>
   <div class="middle">
    <div class="text"><a href="/delete-image/{{ image.id }}" class='demo'><i class='fa fa-close'></i></a></div>
  </div>
  </div>
   
   {% endfor %}
   
{% else %}
<h1 class='error' >No image, Add images!</h1>
{% endif %}
   
</div>
  <div class='img-modal'>
       <a class='clear' href='#'>
       <div class='title'>
       <i class='fa fa-close'></i>
     </div></a>
     <a href='#' class='btn btn-warning previous'>Previous</a>
            <img src='' class="img img-responsive change"/>
            <a href='#' class='btn btn-warning next'>Next</a>
                <a href="/delete-image/{{ image.id }}" class='demo'>Delete</a><br/>   
                
               
            
                 <div class='inline-flex'>
   </div>
                
</div>



 
     </div>
 {% endfor %}
 
  </form>
 
 {% else %}
<h3 class='error'>No Entry yet!!Please add entry.</h3>

{% endif %}
</div>
 {% endblock %}