   {% extends 'base.html' %}

{% block main_content %}

<div class="content-wrapper">
    <div class="container-fluid">
        {% if posts %}
    {% for post in posts %}
    </div>
    <div class="strip">
        <div class="row">
           
        <div class='col-md-8'>
         <h6><a href="/final/{{ post.id }}" class="nav-link js-create-book" data-toggle="modal" data-target="#exampleModal">{{ post.title|title }}</a></h6>
         </div>
          <div class='col-md-4'>
         <a  href="/delete/{{ post.id }}" class='demo'><i class="fa fa-close pull-right"></i></a>
        <a  href="/edit/{{ post.id }}" class='' ><i class="fa fa-pencil pull-right"></i></a>
        </div>
        </div>
        <div class='row'>
         <div class="col-md-10">
             <div class="descrip">
         <p><small>{{ post.description|truncatechars:250 }}</small>
        </p>

</div><!-- descrip ends-->
<p><small><strong>{{ post.created_at }}</strong></small></p>
<!-- <p><small><strong>{{ dog.updated_at }}</strong></small></p> -->
</div><!-- col-md-9 ends-->

<div class="col-md-2 center">
   
   {% for image in post.post_image_set.all %}<!--first post is for the "for loop" second post for the post field in model and all is for all images I guess.-->
   {{ image.image }}
   <a href='#'><img src='{{ image.image.url }}' class="img img-responsive image " width='100'/> </a><br>
   <div class="middle">
    <div class="text"><a href="/delete-image/{{ image.id }}" class='demo'><i class='fa fa-close'></i></a></div>
  </div>
   {% endfor %}

</div>


      <div class='img-modal'>
       <a class='image' href='#'>
       <div class='title'>
       <i class='fa fa-close'></i>
     </div></a>
            <img src='{{ image.image.url }}' class="img img-responsive change"/> 
                <a href="/delete-image/{{ image.id }}" class='demo'>Delete</a><br/>     
</div>
 
     </div><!-- strip ends-->
 {% endfor %}
 
 {% else %}
<h3 class='error'>No Entry yet!!Please add entry.</h3>

{% endif %}
</div>
 {% endblock %}