
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

body{
	
	font-family: 'Cedarville Cursive', cursive;
	font-family: 'Calligraffitti', cursive!important;
	font-family: 'Quicksand', sans-serif;
		
}

.strip {
	border:1px black;
	padding:20px;
	margin:18px;
	background:white;
	box-shadow:5px 5px 20px grey;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white;
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

#exampleModal{
	
	padding-right: 0px !important;
}

.show{
padding-right: 0px !important;	
}
.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0px !important;
    padding-right: 0px !important;
    margin: 0;
    max-width: 3000px !important ;
}
.modal-content {
    min-height: 100%;
    border-radius: 0;
    padding-right: 0px !important;
}

.img-modal{
	display:none;
	transition:3s;
}
.showing{
	display:block!important;
	position: fixed;
	top:0;
	left:0;
	z-index: 2000;
	width:100%;
	height:100%;
	background:black;
	transition:3s;
	text-align: center;
}
.change{
	
	min-height: 200px!important;
	margin-top:40px;
	height:300px;
}
.scrollbar{
	overflow:hidden;
	/* filter:blur(5px); */
}
.center{
	text-align:center;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
 
.middle {
  transition: .5s ease;
  opacity: 0;
  
}

 .center:hover .image {
  opacity: 0.3;
}

 .center:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
 
}
.title{
	color:black;
	background-color:white;
	padding:5px;
	margin-bottom: 20px;
	opacity:0.9;
	position: fixed;
	width: 100%;
}
.hide{
	display:none;
}

.head{
	text-align:center;
	padding:150px;
	/*margin:-60px;*/
	background:url('https://images.pexels.com/photos/265047/pexels-photo-265047.jpeg');
	background-size: 110%;
	
}

.big-btn{
	width:250px;
}

.background{
	/*background:#337ab7;*/
	
	font-family:cursive;
}

.navbar > li :hover{
	color: red!important;
	font-size:3em;
	font-family:arial;
	font-weight: 900;
}

.bg-text{
	font-size: 6em;
	font-weight: 900;
}

.md-text{
	font-size: 3em;
	
}

.section2{
	margin:200px;
	font-size:1.4em;
	line-height: 40px;
}
.footer{
	text-align:center;
	padding:20px;
	margin-top:0px;
	background:palegreen;
	
}

.file {
  position: relative;
  height: 40px;
  width: 120px;
  z-index: 4000000;
}

.file > input[type="file"] {
 margin-left:23px;
 border:transparent;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

.file > label {
  position: absolute;
  top: 0;
  right: 4px;
  left: 0;
  bottom: 0;
  background-color: slategrey;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer
}

.error{
	
	font-family: sans-serif;
	color: silver;
	text-align: center;
	opacity:0.5;
	
}

.deleteBtn{
	display: none
}

.inline-flex{
	display: inline-flex;
}